---
import shared from "../../lib/shared";
---

<div
    class="bg-primary text-white uppercase text-16 lg:text-24 font-medium leading-5 lg:leading-[30px] text-center py-[30px] px-[15px] w-full">
    <p>{shared.notice}</p>
</div>
