---
const { icon, heading, text, href } = Astro.props;
interface Props {
    icon: string;
    heading: string;
    text: string;
    href?: string;
}
---

<div class="bg-white rounded-[10px] py-3 px-1 pl-3 flex items-center gap-3 w-[90%] justify-start max-w-[372px]">
    <div set:html={icon} class="p-3 bg-[#80A7AA26] flex justify-center items-center rounded-full" />
    <div class="flex flex-col gap-[5px]">
        <span class="text-16 font-semibold leading-5">{heading}</span>
        <span class="text-16 leading-5">{text}</span>
    </div>
</div>
