---
import shared from "../lib/shared";
---

<a href="#order">
    <button
        class="bg-primary text-white text-20 lg:text-[28px] leading-5 uppercase px-[30px] py-2.5 lg:py-[15px] lg:px-10 rounded-button self-center"
        >{shared.cta}</button
    >
</a>
